<h1 class="mt-4">Ações</h1>
    <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ acao.nome ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #acaoForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf=" success == true">
                    Ação Salva/Atualizado com sucesso!!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor=" let erro of errors">
                    {{ erro }}
                </div>

            </div>
        </div>

        <div class="row" *ngIf="acao.id">
            <div class="col-md-6">
                <div class="form-group">
                   <label>ID:</label>
                   <input type="text" class="form-control" disabled="true" [ngModel]="acao.id" name="id" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                   <label>Nome:</label>
                   <input type="text" class="form-control" [(ngModel)]="acao.nome" name="nome"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                   <label>Valor: *</label>
                   <input type="text" class="form-control" [(ngModel)]="acao.valor" name="valor" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                   <label>Data: *</label>
                   <input type="text" class="form-control" [(ngModel)]="acao.data" name="data" />
                </div>
            </div>
        </div>
        <div class="row">
            <label>Dividento: *</label>
            <div class="col-md-6">
                <div class="form-check" >
                    <input class="form-check-input" type="radio" [value]="true" [(ngModel)]="acao.dividento" name="dividento" id="sim">
                    <label class="form-check-label" for="sim">
                    Sim
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" [value]="false" name="dividento" id="nao" [(ngModel)] ="acao.dividento" checked>
                    <label class="form-check-label" for="nao">
                    Não
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" *ngIf="!acao.nome">
                    <i class="fa fa-save"></i>&nbsp;Salvar</button>
                <button type="submit" class="btn btn-primary" *ngIf="acao.nome">
                <i class="fa fa-sync-alt"></i>&nbsp;Atualizar</button>

                    <button type="button"  class="btn btn-danger ml-2" (click)="voltarParaListagem()">

                        <i class="fa fa-arrow-left"></i>&nbsp;Listagem
                    </button>
            </div>

        </div>

    </form>

</div>
